body {
    background-color: #e8e8e8;
}
#header {
    background-color: #004080;
    position: sticky;
    /*position: absolute;*/
    top: 0px;
    width: 100%;
    min-height: 10vh;
    max-height: 100px;
    z-index: 10;
}
#header .navbar a {
    color: white;
}
#header .navbar .navbar-toggler {
    background-color: grey;
    margin: 1rem 0rem;
}
#header .navbar .navbar-toggler .navbar-toggler-icon i {
    color: white;
}
#header .navbar .navbar-collapse {
    background-color: #004080;
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
}
#header .navbar .navbar-collapse.collapse.show {
    background-color: #004d9a;
}
#header .navbar .navbar-collapse.collapsing {
    background-color: #004d9a;
}
#header .navbar .navbar-collapse.collapse.show .navbar-nav .nav-item {
}
#header .navbar .navbar-collapse .navbar-nav .nav-item {	
}
#header .navbar .navbar-collapse .navbar-nav .nav-item .disabled {
    color: #d8d8d8;
}
#header .navbar .navbar-collapse .navbar-nav .nav-item:hover {
    background-color: #d8d8d8;
}
#header .navbar .navbar-collapse .navbar-nav .nav-item:hover .disabled {
    color: white;
}
/*#body {
    min-height: 50px;
}*/


#body .home {

}
#body .home .head-home {
    overflow: hidden;
}
#body .home .head-home .image {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#body .home .head-home .image img {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
}
#body .home .head-home .lightbox {
    background-color: #000000bf;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#body .home .head-home .lightbox .title {
    height: 100%;
    width: 100%;
    padding-top: 19rem;
}
#body .home .head-home .lightbox:first-child {
    padding: 20rem 2rem;
}
#body .home .head-home {
    height: 100vh;
    margin-bottom: 3rem;
    color: white;
}

#body .home .container .item-home {
    /*height: 350px;*/
    padding-top: 15px;
    padding-bottom: 15px;
}
#body .home .container .item-home .marco {
    height: 100%;
    padding: 10px;
    background-color: #005ab3;
}
#body .home .container .item-home .marco .content {
    background-color: #004d9a;
    padding: 15px;
    height: 100%;
    color: white;
}
#body .home .container .item-home .marco .content .icon {
    background-color: #DAA520;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
    margin: auto;
}
#footer {
    background-color: #004d9a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 3rem;
    padding: 1rem;
}
#footer .social i {
    margin-right: 5px;
    font-size: 1.5em;
}
#footer a {
    color: #007BF5;
    text-decoration: none;
    font-weight: 500;
}
#footer a:hover {
    color: black;
}

#footer li.social {
    text-align: left;
}
#footer li.social .fab,
#footer li.social .fas {
    width: 10%;
    text-align: center;
    padding-right: 10px;
}
#footer li.social a {
    width: 90%;

}
.gallery-instagram {
    padding: 0px 15px;
}
.gallery-instagram .loading {
    height: 10rem;
    width: 10rem;
}
.gallery-instagram .image-instagram {
    height: 100%;
    margin-bottom: 50px;
}
.gallery-instagram .image-instagram .content-image img {
    width: 100%;
}
.gallery-instagram .image-instagram .likes {
    position: absolute;
    bottom: 15px;
}
.gallery-instagram .image-instagram .tags{
    display: none;
}
.title-page {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    color: white;
    background-color: #005ab3;
    border-bottom: 5px solid #DAA520;
    border-radius: 15em;
    text-shadow: currentColor;
}
.title-page i {
    color: #DAA520;
}

.cv {
}
.cv-title {
    padding: 0px 15px;
}
.cv .image {}
.cv .image img{
    width: 100%;
}
.cv .personal-info ul li{
    list-style: none;
}
.cv .professional-experience,
.cv .formation,
.cv .further-training {
    padding: 10px;
}

.cv .professional-experience .position h6,
.cv .formation .time h6,
.cv .further-training .time h6 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.professional-experience h5,
.cv .formation h5,
.cv .further-training h5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cv .professional-experience.grey,
.cv .formation.grey,
.cv .further-training.grey,
.cv .languages.grey,
.cv .aditional-information.grey {
    background-color: #e4e4e4;
}
.cv .professional-experience.white,
.cv .formation.white,
.cv .further-training.white,
.cv .languages.white,
.cv .aditional-information.white {
    background-color: #f5f5f5;
}

.cv .professional-experience.white,
.cv .formation.white,
.cv .further-training.white {
    
}

.mb-10 {
     margin-bottom: 10px;
 }

.cv .professional-experience .basic-info,
.cv .formation .basic-info,
.cv .further-training .basic-info {
    color: white;
    background-color: #005ab3;
    padding-bottom: 30px;
    padding-top: 20px;
    border-radius: 15px;
}

.cv .professional-experience .description,
.cv .professional-experience .projects,
.cv .formation .description,
.cv .further-training .description,
.cv .formation .place,
.cv .further-training .place {
    margin-top: 10px;
}

.cv .professional-experience .projects a {
    color: #007BF5;
}


.cv .professional-experience .date span,
.cv .formation .date span,
.cv .further-training .date span{
    background: #0066cd;
    border-radius: 15px;
    padding: 5px;
    margin: 5px 0px;
}
.cv .left-colum {

}
.cv>div {
    margin-top: 40px;
    margin-bottom: 0px;
}
.cv>div h3 {
    border-bottom: 5px #004080 solid;
    margin-bottom: 0px;
    padding: 5px;
}


.routes {
    margin-top: 30px;
}

.routes .map {
    height: 430px;
    width: 100%;
}




.error-page {
    min-height: 85vh;
    padding: 100px 50px;
}
.error-page .title i {
    color: red;
}
.error-page .description .path {
    font-weight: 700;
}
.error-page .description .buttom {
    padding: 20px 10px;
}
.error-page .description .link-to-home {
    background-color: #005ab3;
    color: white;
}
