body {
    background-color: #e8e8e8;
}

.error-page {
    min-height: 85vh;
    padding: 100px 50px;
}
.error-page .title i {
    color: red;
}
.error-page .description .path {
    font-weight: 700;
}
.error-page .description .buttom {
    padding: 20px 10px;
}
.error-page .description .link-to-home {
    background-color: #005ab3;
    color: white;
}
